#
# バックエンド(Python)関係
#

# local env files
.env
.env.local
.env.*.local

# local cache files
__pycache__
.pytest_cache

# coverage files
htmlcov/
.coverage
.coverage.*
coverage/


#
# フロントエンド(Vue.js)関係
#

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

package-lock.json

#
# VSCode関係
#

.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

#
# その他
#

# local strage
.DS_Store
/data/
/userdata/

