git+https://github.com/huggingface/diffusers.git@v0.21.4
huggingface-hub>=0.13.2
scipy
ftfy

xformers==0.0.18


flask>=3.0,<3.1
waitress>=2.1,<2.2
pydantic>=1.10,<1.11
watchdog==3.0.0

accelerate>=0.16,<0.17
datasets>=2.9,<2.10

bitsandbytes==0.37.0

--extra-index-url https://download.pytorch.org/whl/cu117
torch>=2.0,<2.1
torchvision
torchaudio
