diffusers>=0.25.0,<0.26.0
huggingface-hub>=0.13.2
tqdm
scipy
ftfy

transformers >=4.36.0,<4.37.0
accelerate>=0.25,<0.26
peft >=0.7.0,<0.8.0

invisible-watermark>=0.2.0
safetensors

fastapi>=0.111,<0.112
uvicorn>=0.29,<0.30
pydantic>=2.7,<2.8
injector>=0.21,<0.22

datasets>=2.9,<2.10
bitsandbytes==0.37.0
