diffusers>=0.25.0,<0.26.0
huggingface-hub>=0.13.2
tqdm
scipy
ftfy

transformers >=4.36.0,<4.37.0
accelerate>=0.25,<0.26
peft >=0.7.0,<0.8.0

invisible-watermark>=0.2.0
safetensors


flask>=3.0,<3.1
waitress>=2.1,<2.2
pydantic>=1.10,<1.11
watchdog==3.0.0

git+https://github.com/shinokiwa/u-dam.git@main

datasets>=2.9,<2.10
bitsandbytes==0.37.0
